<p id="notice"><%= notice %></p>
<div style="padding: 5%;">
<h1>Passports</h1>

<div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="text-align: center;"><i class="fa fa-fw fa-compass"></i> Passport</h4>
                    </div>
                    <div class="panel-body">
                        <p>24/7 Call center also work to facilitate citizen. Citizens will get an Appointment dayte after filling out the form for request.</p>
                    </div>
                </div>
            </div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if can? :manage, Passport %>
        <% @apassports.each do |passport| %>
        <tr>
          <td><%= passport.full_name  %></td>
          <td><%= link_to 'Show', passport %></td>
          <td>
            <%if Passport.exists?(user_id: current_user) %>
              <% if passport.expiry %>
                  <%= link_to "Renew Passport", appointments_path %>
              <% end %>
            <% end %>

          </td>
          <% if can? :manage, Passport %>
          <% if passport.approved? %>
          <td><%= link_to 'Dispprove', disapprove_passport_path(passport), method: :put %></td>
          <% else %>
          <td><%= link_to 'Approve', approve_passport_path(passport), method: :put %></td>
          <% end %>
          <td><%= link_to 'Edit', edit_passport_path(passport) %></td>
          <td><%= link_to 'Destroy', passport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
    <% else %>
          <% @passports.each do |passport| %>
        <tr>
          <td><%= passport.full_name  %></td>
          <td><%= link_to 'Show', passport %></td>
          <td>
            <%if Passport.exists?(user_id: current_user) %>
              <% if passport.expiry %>
                  <%= link_to "Renew Passport", appointments_path %>
              <% end %>
            <% end %>

          </td>
          <% if can? :manage, Passport %>
          <% if passport.approved? %>
          <td><%= link_to 'Dispprove', disapprove_passport_path(passport), method: :put %></td>
          <% else %>
          <td><%= link_to 'Approve', approve_passport_path(passport), method: :put %></td>
          <% end %>
          <td><%= link_to 'Edit', edit_passport_path(passport) %></td>
          <td><%= link_to 'Destroy', passport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<%if Passport.exists?(user_id: current_user) %>
<% else %>
  <%= link_to 'New Passport', new_passport_path, :class => "btn btn-warning" %>
<% end %>

<br>
<%# if can? :manage, Passport %>
<%#= link_to 'New Passport', new_passport_path %>
<%# end %>
</div>