<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>Home</title>

  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <!-- Custom CSS -->
  <!--  <link href="css/modern-business.css" rel="stylesheet"> -->
  <%= stylesheet_link_tag "modern-business.css" %>
  <!-- Custom Fonts -->
  <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  <%= stylesheet_link_tag "font-awesome.min.css" %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <li class="navbar-brand"><%= link_to 'Civil Services Portal', pages_home_path %></li>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to 'About', pages_about_path %>
                </li>
                <li>
                  <%= link_to 'Services', pages_services_path %>
                </li>
                <li>
                  <%= link_to 'Contact', pages_contact_path %>
                </li>
                <li>
                  <%= link_to "News", posts_path %>
                </li>
                <li>
                  <%= link_to 'Help', pages_help_path %>
                </li>
                <% if user_signed_in? %>
                  <% if user_signed_in? %>
                  <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li>
                  <% end %> |
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                <% elsif author_signed_in? %>
                  <li>
                    <%= link_to 'My posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
                  </li>
                  <li>
                    <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
                  </li>
                <% else %>
                  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> |
                  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                <% end %>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
      <%= yield %>

      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Civil Services Portal 2017</p>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--<script src="javascripts/jquery.js"></script> -->
    <%# javascript_include_tag 'jquery.js', 'application' %>
    <!-- Bootstrap Core JavaScript -->
    <!--<script src="javascripts/bootstrap.min.js"></script>-->
    <!--<%= javascript_include_tag 'bootstrap.min.js', 'application' %>-->
    <!-- Script to Activate the Carousel -->
    <script>
      $('.carousel').carousel({
        interval: 2000 //changes the speed
      })
    </script>

  </body>

  </html>
